snippet article
@article{ResearchPaper,
	author		= "\href{run:./sources/}{+}",
	editor		= "",
	annotator	= "",
	translator	= "",
	title		= "+",
	titleaddon	= "",
	journalsubtitle	= "",
	journaltitle	= "+",
	date		= "+-",
	year		= "+-",
	month		= "",
	issue		= "",
	number		= "",
	series		= "",
	volume		= "",
	version		= "",
	doi		= "",
	issn		= "",
	url		= "",
	urldate		= "",
	publisher	= "",
	pages		= "",
}

endsnippet
