snippet article "reference research papers" Ab
@article{$1,
	author		= "\href{run:./sources/$1}{${2:+}}",
	editor		= "",
	annotator	= "",
	translator	= "",
	title		= "${3:+}",
	titleaddon	= "",
	journalsubtitle	= "",
	journaltitle	= "${4:+}",
	date		= "$6",
	year		= "$7",
	month		= "",
	issue		= "",
	number		= "",
	series		= "",
	volume		= "",
	version		= "",
	doi		= "",
	issn		= "",
	url		= "",
	urldate		= "",
	publisher	= "",
	pages		= "",
}
$5
endsnippet
